body {
  font-size: 1.25rem;
  background: #8E0E00;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1F1C18, #8E0E00);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}

#edit {

  border-radius: 7px;
  font-weight: 600;
  border-width: 2px;
  border: 2px solid black;
  background-color: black;
  box-shadow: 3px 3px 4px rgb(55, 12, 12);

}

#edit:hover {
  transform: scale(1.1);
}

#del:hover {
  transform: scale(1.1);
}

#create:hover {
  transform: scale(1.1);
  background-color: black;
}

#logo:hover {
  transform: scale(1.1);
}

#buton:hover {
  transform: scale(1.1);
  background-color: black;
}

#del {
  border-radius: 7px;
  margin-left: 10px;
  font-weight: 600;
  border-width: 2px;
  border: 2px solid black;
  background-color: black;
  box-shadow: 3px 3px 4px rgb(55, 12, 12);

}

#create {
  border-width: 2px;
  font-weight: 600;
  margin-left: -125px;
  margin-top: 59px;
  border: 2px solid black;
  background-color: black;
  box-shadow: 3px 3px 4px rgb(55, 12, 12);
}

td {
  font-size: small;
  line-height: 3rem;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

th {
  font-size: smaller;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.swal2-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;


}

.swal2-row label {
  flex-basis: 100px;
  margin-right: 10px;
}

.swal2-row input[type="radio"],
.swal2-row input[type="checkbox"] {
  margin-right: 5px;
  margin-top: 5px;

}

.swal2-row label {
  text-transform: capitalize;
  font-weight: 400;
  font-size: large;
  color: black;

}

#logo {
  margin-top: -2px;
  width: 100px;
  height: 70px;
  border-radius: 30px;
}

#users:hover {
  transform: scale(1.1);
  text-shadow: 2px 3px 4px rgb(127, 12, 12);
}

#users {
  margin-top: 60px;
  color: white;
  font-size: small;
  text-transform: uppercase;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-shadow: 1px 1px 2px rgb(16, 16, 17);
}

#log {
  height: 60px;
}

.btn {
  color: white;
}

.red-popup {
  background-color: rgb(247, 228, 228);
  color: white;
  border-color: red;
  box-shadow: 10px 10px 10px rgb(124, 11, 11);
}

.red-popup .swal2-confirm {
  background-color: black;
  color: hsl(0, 14%, 95%);
  border-color: black;
  box-shadow: 6px 4px 8px rgb(124, 11, 11);
}

.red-popup .swal2-confirm:hover {
  transform: scale(1.1);
}


.swal2-title {
  color: black !important;
  font-size: x-larger !important;
  text-transform: uppercase !important;
  font-style: italic !important;

}

.my-custom-modal .swal2-popup .swal2-icon .swal2-icon--error .swal2-icon .swal2-icon--delete {
  background-color: red;
  box-shadow: 6px 4px 8px rgb(124, 11, 11);
}

.my-custom-modal .swal2-icon--error .swal2-icon--delete {
  background-color: black !important;
}

.swal2-cancel,
.swal2-confirm {
  background-color: black !important;
  box-shadow: 6px 4px 8px rgb(124, 11, 11);
}

/*navbar*/

nav {
  height: 50px;
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1;
}

li {
  margin: 0 10px;
  margin-top: -30px;
  font-size: smaller;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  margin-left: 900px;
}

 a:hover {
  color: black;

}
#profile{
background-color: none;
margin:none;
margin-top:-6px;
font-size: 17.5px;
}